<div class="site-header" >
  
  <div class="{{blurClass}} ">
  
    <div class="background  ">
      <div class="barra">
        <div class="contenedor-logo">
          <div class="logo">
            <img class="logo" src="assets/img/logo.png">
          </div>
        </div>
      </div>

    <section class="contenedor-ventas">


    <div class="row">
      <div class="column titulo-ventas" >
        <b>SALES<BR> COUNTER</b>
      </div>
      <div class="column numero-ventas">
        <b> {{ventas |currency}}  </b>
      </div>
    </div>
  </section>
    <section class="programa">
      <div class="contenido-programa">
        <div class="contenedor-reloj">
{{time | date: "hh:mm:ss"}}
        </div>
      </div>

    </section>
    <section class="fecha">
      <div class="contenido-programa">
        <div class="contenedor-fecha">
            {{ fecha |date:"EEEE dd MMMM y"}}
        </div>
      </div>

    </section>
    <footer class="site-footer">
      <div class="contenedor-footer clearfix">
        <div class="footer-clima">
          <div class="clima-actual">

            <div class="icono-clima">
              <img src="assets/img/clima.png" style="width:13vh" >
            </div>
            <div class="descripcion-clima">
              <b>Partialy cloudly</b>
            </div>
            <div class="temperatura">
              <div class="contenido-temperatura">
                27°

              </div>

            </div>

          </div>


            <div class="clima-proximo climas-siguientes">
              <img src="assets/img/clima.png" style="width:6vh" >
              <b>Partialy cloudly</b>
              VIE 21
            </div>
            <div class="clima-proximo climas-siguientes2">
              <img src="assets/img/clima.png"style="width:6vh" >
              <b>Partialy cloudly</b>
              SAB 21
            </div>
            <div class="clima-proximo climas-siguientes3">
                <img src="assets/img/clima.png" style="width:6vh" >
                <b>Partialy cloudly</b>
                27°


            </div>

        </div>

       
            <div class="footer-noticias background-footer ">
                <div id="breaking-news-container">
                  <div id="breaking-news-colour" class="slideup animated">
                
                  </div>
                  
                  <a class="breaking-news-headline delay-animated2 fadein marquee">
                    {{mensaje}}
                  </a>
                </div>
            </div>
            
        
      </div>
    </footer>

  </div>
</div>
<div style="filter: blur(0px);" class="site-header"[hidden]=!videoplay class="video-active">
  <video style="filter: blur(0px);"muted="muted" width="100%" height="100%" class="video-active2" [src]="getVideo()" id="video">

  </video>
</div>
</div>