<div class="site-header" >
  
  <div class="{{blurClass}} ">
  
    <div class="background  ">
      <div class="barra">
        <div class="contenedor-logo">
          <div class="logo">
            <img class="logo" src="assets/img/logo.png">
          </div>
        </div>
      </div>

    <section class="contenedor-ventas">


    <div class="row">
      <div class="column titulo-ventas" >
        <b>COBRANZA<BR>A LA FECHA</b>
      </div>
      <div class="column numero-ventas">
        <b> {{ventas |currency}}  </b>
      </div>
    </div>
  </section>
    <section class="programa">
      <div class="contenido-programa">
        <div class="contenedor-reloj">
{{time | date: "hh:mm:ss"}}
        </div>
      </div>

    </section>
    <section class="fecha">
      <div class="contenido-programa">
        <div class="contenedor-fecha">
            {{ fecha |date:"EEEE dd MMMM y"}}
        </div>
      </div>

    </section>
    <footer class="site-footer">
      <div class="contenedor-footer clearfix">
        <div class="footer-clima">
          <div class="clima-actual">

            <div class="icono-clima">
              <img [src]=climaHoy.imagen style="width:6vh;margin-top: 4vh;" >
            </div>
            <div class="descripcion-clima">
              <b>{{climaHoy.descripcion}}</b>
            </div>
            <div class="temperatura">
              <div class="contenido-temperatura">
                {{climaHoy.temperatura.slice(0,-3) }}°

              </div>

            </div>

          </div>


            <div class="clima-proximo climas-siguientes">
              <img [src]=climaDos.imagen style="width:6vh;margin-top: 1vh;" ><br>
              
              {{climaDos.temperatura.slice(0,-3)}}°<br>
              {{climaHoy.dia | date }}
            </div>
            <div class="clima-proximo climas-siguientes2">
              <img [src]=climaTres.imagen style="width:6vh;margin-top: 1vh;"><br>
              
              {{climaTres.temperatura.slice(0,-3)}}°<br>
              {{climaDos.dia | date }}
            </div>
            <div class="clima-proximo climas-siguientes3">
                <img [src]=climaCuatro.imagen style="width:6vh;margin-top: 1vh;"><br>
                
                {{climaCuatro.temperatura.slice(0,-3)}}°<br>
                {{climaTres.dia | date }}


            </div>

        </div>

            <div class="footer-noticias background-footer ">
              <marquee direction="left" width="77%" style="font-size: 6vh; margin-top: 5%">
                {{mensaje}}
              </marquee>
              
                
              
            </div>
            
        
      </div>
    </footer>

  </div>
</div>
<div style="filter: blur(0px);" class="site-header"[hidden]=!videoplay class="video-active">
  <video style="filter: blur(0px);"  width="100%" height="100%" class="video-active2" [src]="urlvideo" oncanplay="this.play()" onloadedmetadata="this.muted = false" id="video"(loadedmetadata)="getDuration($event)">

  </video>

</div>
</div>