/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: "HelveticaNeueRegular";
  src: url('../fonts/HelveticaNeueRegular.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url('../fonts/HelveticaNeueBold.otf'); /* IE9 Compat Modes */
}
*{
  box-sizing: border-box;
}
body{
  background-color: #FFE600;
  font-family: HelveticaNeueBold;
  height: 95vh;
}
/*header*/
div.background{
  background-image: url(../img/background.jpg);
  height: 98vh;
  background-position: center;
  background-size: cover;
  width: 99%;
  margin: 0 auto;
}
.blur {
 

  filter: blur(6px);
  width: 99%;
   height: 98vh;
   position: absolute;

}


/*barra*/
div.barra{
  width: 100%;
  background-color: #004A8E;
  height: 14vh;
  margin-top: -8px;

  margin-bottom: 10vh;
}
div.logo{
  width: 15%;
  background-color: #FFE600;
  height: 15vh;
  line-height: 15vh;

}
img.logo {
  display: block;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}
/*ventas*/
section.contenedor-ventas{
  width: 90%;
  margin: auto;
  height: 20vh;

}
.column {
  float: left;
  padding: 1vh;
}

.titulo-ventas {
  width: 25%;
  background-color: #004A8E;
  color: #fff;
  font-size: 7vh;
  height: 20vh;
  text-align: center;
  border: .5vh solid #004A8E;
}

.numero-ventas {
  width: 75%;
  background-color: #FFF;
  color: #004A8E;
  font-size: 15vh;
  height: 20vh;
  text-align: center;
  border: .5vh solid #004A8E;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*RELOJ*/
section.programa{
  /* position: relative; */
}
div.contenido-programa{
  /* position: absolute; */
}
div.contenedor-reloj{
  width: 90%;
  margin: 0 auto;
  height: 15vh;
  font-size: 12vh;
  vertical-align: middle;
  color: #004A8E;
}
div.contenedor-fecha{
  width: 90%;
  margin: 0 auto;
  height: 10vh;
  font-size: 4.5vh;
  vertical-align: middle;
  color: #004A8E;
}
/*RELOJ*/
section.fecha{
  /* position: relative; */
  margin-top: 0vh;
}
div.contenido-programa{
  /* position: absolute; */
}
footer{
  margin-bottom: 1vh;
  height: 30%;
  width: 95%;
  margin: 0 0 0 5%;
}
footer .footer-clima{
  width: 33%;
  float: left;
}
div .clima-actual{
  background-color: #004A8E;
  width: 99.2%;
}
.icono-clima{
  float: left;
  width: 20%;
  text-align: center;
  height: 15vh;
  background-color: #004A8E;
 
    
}
.descripcion-clima{
  float: left;
  width: 46%;
  height: 15vh;
  padding-top: 2vh;
  color: #fff;
  font-size: 3vh;
  background-color: #004A8E;
  text-align: center;
}
.temperatura{
  float: left;
  width: 33%;
  height: 15vh;
  padding-top: 2.5vh;
  padding-bottom:  2.5vh;
  padding-right:   2.5vh;
  background-color: #004A8E;
}
.contenido-temperatura{
  text-align: center;
  font-size: 8vh;
  background-color: #FFE600;
  color: #004A8E;
}
footer .footer-noticias{
  /*background-color: #FFE600;*/
  width: 66%;
  float: left;
  margin-top: 8.5vh;
    background-position: center;
  background-size: cover;
  
background-image: url('../img/dokaNewsRaya.png');
  height: 20vh;
  font-size: 4vh;
  color: #004A8E;
}


/* Safari 4.0 - 8.0 */



footer .footer-logo{
  /*background-color: #004A8E;*/
  margin-left: .5vh;
  width: 11%;
  float: left;
  margin-top: 13.5vh;
  height: 15vh;
  border-radius: 50px 0px 0px 0px ;
}
.clima-proximo{
  width: 100%;
}
.climas-siguientes{
  margin-top: .5vh;
  float: left;
  width: 32.2%;
  height: 13vh;
  background-color: #004A8E;
  color: #FFF;
  text-align: center;
  
}
.climas-siguientes2{
  margin-left: .5vh;
  margin-top: .5vh;
  float: left;
  width: 32.2%;
  height: 13vh;
  background-color: #004A8E;
  color: #FFF;
  text-align: center;
}
.climas-siguientes3{
  margin-left: .5vh;
  margin-top: .5vh;
  float: left;
  width: 32.2%;
  height: 13vh;
  background-color: #004A8E;
  color: #FFF;
  text-align: center;
}
.video-active{
  margin: 0 auto ;
  position: absolute;
   
  width: 95%;
  height: 95vh;
}
.video-active2{
  margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
  
  width: 90%;
  height: 90%;
  z-index: -1;
}
.logo-footer{
  border-radius: 50px;
}

.background-footer{

width: 100%;

}

.breaking-news-headline {
  display: block;
  position: absolute;
  font-size: 7vh;
  margin-top: px;
  color: #004A8E;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 13vh;     /* fallback */
   max-height: 13vh;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
  
  
}



#breaking-news-colour {
  height: 30px;
  width: 694px;
  
}

#breaking-news-container {
  height: 13vh;
  width: 45%;
  overflow: hidden;
  position: absolute;
  margin-left: 2%;
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #3399FF;
    position: absolute;
    z-index: 2;
  }
}

.animated {
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.2s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}

.delay-animated {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s; 
  animation-delay: 0.3s;
}

.scroll-animated {
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 3s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1; 
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s; 
  animation-delay: 0.5s;
}

.delay-animated2 {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1; 
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s; 
  animation-delay: 0.5s;
}

.delay-animated3 {
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 5s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1; 
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s; 
  animation-delay: 3s;
}

.fadein {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  -o-animation-name: fadein;
  animation-name: fadein;
}

@-webkit-keyframes fadein {
  from {
    margin-left: 1000px
  }
  to {
    
  } 
}  
@-moz-keyframes fadein {
  from {
    margin-left: 1000px
  }
  to {
    
  }  
}

.slidein {
  -webkit-animation-name: slidein;
  -moz-animation-name: slidein;
  -o-animation-name: slidein;
  animation-name: slidein;
}

@keyframes marquee {
  0% { 
    left: 0;
  }
  20% { 
    left: 0; 
  }
  100% { left: -100%; }
}

.marquee {
  animation: marquee 10s linear infinite;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -webkit-animation-delay: 0.5s; 
  animation-delay: 3s;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 800px
  }
  to {
    margin-top: 0px
  } 
}  
@-moz-keyframes slidein {
  from {
    margin-left: 800px
  }
  to {
    margin-top: 0px
  }  
}

.slideup {
  -webkit-animation-name: slideup;
  -moz-animation-name: slideup;
  -o-animation-name: slideup;
  animation-name: slideup;
}
@-webkit-keyframes slideup {
  from {
    margin-top: 30px
  }
  to {
    margin-top: 0;
  } 
}  
@-moz-keyframes slideup {
  from {
    margin-top: 30px
  }
  to {
    margin-top: 0;
  } 
}



